Checks: "clang-diagnostic-*,\
clang-analyzer-*,\
cppcoreguidelines-*,\

modernize-*,\
misc-*,\
readability-*,\
performance-*,\
portability-*,\
-modernize-use-trailing-return-type\
"
HeaderFilterRegex: 'src/.*\.h'
